{% extends "base.html" %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-card fade-up">
        <h2 class="auth-title">Login</h2>

        <form method="POST" class="auth-form">
            {% csrf_token %}

            <div class="mb-3">
                <label>Username</label>
                {{ form.username }}
            </div>

            <div class="mb-3">
                <label>Password</label>
                {{ form.password }}
            </div>

            <button class="btn-hero-primary w-100 mt-3">Login</button>

            <div class="mt-3 text-center">
                <a href="{% url 'password_reset' %}" class="text-gold">Forgot your password?</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
